.tooltip {
    position: absolute;
    z-index: 500;
    background: rgba(0,0,0,.6);
    box-shadow:  0 0 0 2px #FB5, 0 0 0 6px rgba(0,0,0,.6);
    padding: .5rem;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: .875rem;
    max-width: 150px;
    border-radius: 2px;
}


div.tooltip {
    animation: showttp .4s forwards;
}

@keyframes showttp {

    from {
        opacity: 0;
        transform: translate3d(-10px, 0, 0);
    } to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

}
